@import "../../../../../assets/styles/mixins.scss";

.task-info-section {
    @include dFlex(center, center);
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.task-info-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.task-info-category {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.task-info-close {
    font-size: 1.5rem;
    cursor: pointer;
}

.task-info-header-container h2 {
    font-size: clamp(2.25rem, 2.1rem + 1vw, 2.9375rem);
    font-weight: 600;
    margin-bottom: 1rem;
}

.task-info-description-container p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: black;
    margin-bottom: 1rem;
}

.task-info-due-date-container,
.task-info-priority-container,
.task-info-assigned-to-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.task-info-subtasks-header {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.task-info-subtask-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-info-subtask-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task-info-subtask-item .completed {
    text-decoration: line-through;
    color: gray;
}
