<section class="task-info-section">
    <div class="task-dialog-top-container">
        <div class="task-dialog-category">
            {{ task.category }}
        </div>
        <div class="task-dialog-close" (click)="closeDialog()">
            &#10005;
        </div>
    </div>

    <div class="task-dialog-header-container">
        <h2>{{ task.title }}</h2>
    </div>

    <div class="task-dialog-description-container">
        <p>{{ task.description }}</p>
    </div>

    <div class="task-dialog-due-date-container">
        <div class="task-dialog-due-date-txt">Due date:</div>
        <div class="task-dialog-due-date-output">{{ task.dueDate | date: 'yyyy-MM-dd' }}</div>
    </div>

    <div class="task-dialog-priority-container">
        <div class="task-dialog-priority-txt">Priority:</div>
        <div class="task-dialog-priority-output">
            <span>{{ task.priority }}</span>
            @switch (task.priority) {
                @case ('urgent') {
                    <img src="assets/icons/kanban/prio_urgent.svg" alt="urgent" />
                }
                @case ('medium') {
                    <img src="assets/icons/kanban/prio_middle.svg" alt="Medium" />
                }
                @case ('low') {
                    <img src="assets/icons/kanban/prio_low.svg" alt="low" />
                }
            }
        </div>
    </div>

    <div class="task-dialog-assigned-to-container">
        <div class="task-dialog-assigned-to-txt">Assigned To:</div>
        <div class="task-dialog-assigned-to-output">
            @for (person of task.assignedTo; track person.id) {
                <div class="assigned-person">
                    <span class="initials">{{ person.initials }}</span>
                    <span class="name">{{ person.name }}</span>
                </div>
            }
        </div>
    </div>

    <div class="task-dialog-subtasks-container">
        <div class="task-dialog-subtasks-header">Subtasks:</div>
        <div class="task-dialog-subtask-list">
            @for (subtask of task.subTasks; track subtask.name) {
                <div class="task-dialog-subtask-item">
                    <input type="checkbox" [checked]="subtask.completed" disabled />
                    <span [class.completed]="subtask.completed">{{ subtask.name }}</span>
                </div>
            }
        </div>
    </div>

    <div class="task-dialog-delete-edit-container">
        <div class="task-dialog-delete-container" (click)="deleteTask()">
            <div class="task-dialog-delete-img">
                <img src="assets/icons/delete.svg" alt="Delete Task" />
            </div>
            <div class="task-dialog-delete-txt">Delete</div>
        </div>

        <div class="task-dialog-edit-container" (click)="editTask({ title: 'Updated Title' })">
            <div class="task-dialog-edit-img">
                <img src="assets/icons/edit.svg" alt="Edit Task" />
            </div>
            <div class="task-dialog-edit-txt">Edit</div>
        </div>
    </div>
</section>
