@import './../../../../assets/styles/mixins.scss';

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 400px;
}

input {
    @include dFlex(space-around, center);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    border-radius: 10px;
    border: 1px solid $col-shadow-black;
    display: block;
    width: 422px;
    height: 50px;
    padding: 13px 21px 13px 21px;
    gap: 8px;
    transition: border-color 0.3s ease;

    &.invalid {
        border: 1px solid $col-error-red ;
    }

    &::placeholder {
        color: $col-shadow-black;
        opacity: 0.7;
    }

    &:focus {
        outline: none;
        border: 1px solid $col-ref-highlight;
    }
}

input:not(.invalid)+img+.error {
    visibility: hidden;
}

.dialog-overlay {
    @include dFlex(center, center, 0, fixed);
    inset: 0;
    background: $col-shadow-black;
    z-index: 9999;
}

.dialog-content {
    margin-left: 50px;
    margin-right: 50px;
    width: 1401px;
    height: 594px;
    border-radius: 35px;
    display: flex;
    overflow: hidden;
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.dialog-left {
    background-color: $col-bg-secondary;
    color: $col-font-secondary;
    padding: 66px 48px;
    width: 467px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    span {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 27px;
        line-height: 120%;
        letter-spacing: 0.25px;
    }

    img {
        width: 55.6px;
        height: 66.48px;
    }
}

.dialog-right {
    @include dFlex(flex-start, center, 32px, relative);
    flex-direction: column;
    background-color: $col-white;
    color: $col-dialog-right;
    padding: 66px 48px;
    width: 934px;
    height: 100%;
}

.form-wrapper {
    @include dFlex(flex-start, center, 64px, relative);
    width: 100%;
    max-width: 800px;
}

.profile-icon {
    @include dFlex(center, center);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $col-background-grey;

    img {
        width: 48px;
        height: 48px;
    }
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 16px;
}

.dialog-content.animate-in {
    transform: translateX(0);
    opacity: 1;
}

.dialog-content.animate-out {
    transform: translateX(100vw);
    opacity: 0;
}

.subtitle {
    margin: 0;
    font-size: 16px;
    color: $col-font-secondary;
}

.underline {
    width: 90px;
    height: 3px;
    background-color: $col-ref-highlight;
    margin-top: 8px;
    border-radius: 2px;
}

.input-wrapper {
    position: relative;

    input {
        width: 100%;
        padding-right: 40px;
    }

    img {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: none;
    }
}

.error {
    min-height: 16px;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
    color: $col-error-red;
    display: block;
    visibility: visible;
    height: 16px;
}

.profile-placeholder {
    @include dFlex(center, center);
    width: 120px;
    height: 120px;
    aspect-ratio: 1/1;
    background-color: $col-background-grey;
    border-radius: 50%;
    margin: 0 auto 32px auto;

    img {
        width: 48px;
        height: 48px;
    }

    &.initials {
        font-family: 'Inter', sans-serif;
        font-size: 36px;
        font-weight: 500;
        color: $col-font-secondary;
        background-color: $col-bg-secondary
    }
}

.close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease;

    img {
        width: 14px;
        height: 14px;
        object-fit: contain;
    }

    &:hover {
        background-color: $col-shadow-black;
        transform: scale(1.1);
    }
}

.close-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-icon img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    cursor: pointer;
}

%button-shared {
    @include dFlex(space-around, center);
    padding: 16px;
    border-radius: 10px;
    font-size: 21px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
        height: 14px;
        transition: fill 0.3s ease;
    }
}

.button-cancel {
    @extend %button-shared;
    background-color: $col-font-secondary;
    border: 1px solid $col-bg-secondary;
    width: 126px;
    height: 56px;
}

.button-delete:hover,
.button-cancel:hover {
    background-color: $col-font-secondary;
    text-align: center;
    cursor: pointer;
    border: 2px solid $col-ref-highlight;
    color: $col-ref-highlight;
    transform: scale(1.00) translateX(-1.01px);
    box-shadow: 0px 3px 5px $col-shadow-black;

    svg path {
        fill: $col-ref-highlight;
    }
}



.button-delete {
    @include btn($col-font-secondary, $col-bg-secondary, $col-font-secondary);
    border: 1px solid $col-bg-secondary;
    width: 126px;
    height: 55px;
}

.contact-initials {
    font-size: 60px;
    color: $col-font-secondary;
    letter-spacing: -5px;
}

.button-create:not(.disabled):not(.checkmark):hover,
.button-save:hover {
    background-color: $col-ref-highlight;
    color: $col-font-secondary;
    cursor: pointer;
    box-shadow: 0px 3px 5px $col-shadow-black;
    transform: scale(1.00) translateX(-1.01px);
}

.icon-done {
    width: 18px;
    height: 18px;
    stroke: $col-font-inactive;
}

.button-create {
    @extend %button-shared;
    width: 214px;
    height: 57px;

    img {
        transition: opacity 0.3s ease;
    }
}

.button-create.disabled,
.button-create.checkmark {
    background-color: $col-background-button;
    cursor: not-allowed;

    img {
        opacity: 0.5;
    }

    &:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;

        img {
            opacity: 0.5;
        }
    }
}


.button-create.active {
    background-color: $col-bg-secondary;
    color: $col-font-secondary;
    cursor: pointer;

    img {
        opacity: 1;
    }

    &:hover {
        background-color: $col-ref-highlight;
        box-shadow: 0px 3px 5px $col-shadow-black;
        transform: scale(1.00) translateX(-1.01px);
    }
}

.button-save {
    @include btn();
    width: 111px;
    height: 57px;
}

.button-save.disabled {
    background-color: $col-background-button;
    color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;

    img,
    svg {
        opacity: 0.5;
    }

    &:hover {
        box-shadow: none;
        transform: none;
    }
}

.button-save.active {
    background-color: $col-bg-secondary;
    color: $col-font-secondary;

    &:hover {
        background-color: $col-ref-highlight;
        box-shadow: 0px 3px 5px $col-shadow-black;
        transform: scale(1.00) translateX(-1.01px);
    }
}

@media screen and (max-width: 1400px) {

    .dialog-content {
        transform: translateY(100vw);
    }

    .dialog-content.animate-in {
        transform: translateY(0);
    }

    .dialog-content.animate-out {
        transform: translateY(100vw);
    }
}


@media screen and (max-width: 1000px) {

    .buttons {
        justify-content: center;
    }

    .button-cancel {
        display: none;
    }

    .dialog-content {
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 35px;
        overflow: visible;
    }

    .dialog-left {
        width: 100%;
        height: 260px;
        border-radius: 35px 35px 0 0;
        padding: 48px 24px 24px 24px;
        display: flex;
        gap: 8px;

        img.logo {
            display: none;
        }
    }

    .dialog-right {
        width: 100%;
        border-radius: 0 0 35px 35px;
        padding: 100px 24px 32px 24px;
        position: relative;
    }

    .profile-placeholder {
        position: absolute;
        top: -225px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: $col-background-grey;
        border: 4px solid $col-font-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 12px $col-shadow-black;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .form-wrapper {
        flex-direction: column;
        gap: 24px;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
}