@import './../../../../assets/styles/variables.scss';
@import './../../../../assets/styles/mixins.scss';

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 400px;
}

input {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    border-radius: 10px;
    border: 1px solid $col-font-grey;
    width: 100%;
    height: 50px;
    padding: 13px 21px;
    transition: border-color 0.3s ease;

    &.invalid {
        border-color: $col-error-red;
    }

    &::placeholder {
        color: $col-font-grey;
        opacity: 0.7;
    }

    &:focus {
        outline: none;
        border-color: $col-ref-highlight;
    }
}

input:not(.invalid)+img+.error {
    visibility: hidden;
}

.logo {
    margin-bottom: 20px;
}

.dialog-overlay {
    @include dFlex(center, center, 0, fixed);
    inset: 0;
    background: $col-shadow-black;
    z-index: 99;
}

.dialog-content {
    max-height: calc(100dvh - 4px);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 40px;
    margin-right: 40px;
    width: 1401px;
    height: 594px;
    border-radius: 35px;
    display: flex;
    overflow: hidden;
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.dialog-left {
    position: relative;
    background-color: $col-bg-secondary;
    color: $col-font-secondary;
    padding: 66px 48px;
    width: 467px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;


    h2 {
        font-family: 'Inter', sans-serif;
        font-size: 61px;
        font-weight: 700;
        line-height: 120%;
        color: $col-font-secondary;
        margin: 0;
    }

    span {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 27px;
        line-height: 120%;
        letter-spacing: 0.25px;
    }

    img {
        width: 55.6px;
        height: 66.48px;

    }
}

.dialog-right {
    @include dFlex(flex-start, center, 32px, relative);
    flex-direction: column;
    background-color: $col-font-secondary;
    color: $col-dialog-right;
    padding: 66px 50px;
    width: 934px;
    height: 100%;
}

.form-wrapper {
    @include dFlex(space-evenly, center, 50px, relative);
    width: 100%;
    max-width: 800px;

    .profile-ring {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background-color: $col-font-secondary;
        border: 1px solid $col-shadow-black;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
    }

    .profile-placeholder {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: $col-font-dropdown;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 64px;
            height: 64px;
        }

        &.initials {
            font-size: 36px;
            font-weight: 500;
            font-family: 'Inter', sans-serif;
            color: $col-font-secondary;
            letter-spacing: -1px;
        }
    }
}

.profile-icon {
    @include dFlex(center, center);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $col-font-dropdown;

    img {
        width: 48px;
        height: 48px;
    }
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 16px;
}

.dialog-content.animate-in {
    transform: translateX(0);
    opacity: 1;
}

.dialog-content.animate-out {
    transform: translateX(100vw);
    opacity: 0;
}

.subtitle {
    margin: 0;
    font-size: 16px;
    color: $col-font-secondary;
}

.underline {
    width: 90px;
    height: 3px;
    background-color: $col-ref-highlight;
    margin-top: 8px;
    border-radius: 2px;
}

.input-wrapper {
    position: relative;

    input {
        padding-right: 48px;
    }

    img {
        position: absolute;
        top: 38%;
        right: 18px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        pointer-events: none;
    }
}

.error {
    min-height: 16px;
    font-size: 10px;
    margin-top: 4px;
    margin-left: 4px;
    color: $col-error-red;
    display: block;
    visibility: visible;
    height: 16px;
}

.mobile-close {
    display: none;
}

.close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;

    img {
        width: 14px;
        height: 14px;
        object-fit: contain;
    }

    &:hover {
        background-color: $col-shadow-black;
        transform: scale(1.1);
    }
}

.close-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-icon img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    cursor: pointer;
}

%button-shared {
    @include dFlex(space-around, center);
    padding: 16px;
    border-radius: 10px;
    font-size: 21px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
        height: 14px;
        transition: fill 0.3s ease;
    }
}

.button-cancel {
    @extend %button-shared;
    background-color: $col-font-secondary;
    border: 1px solid $col-bg-secondary;
    width: 126px;
    height: 56px;
}

.button-delete:hover,
.button-cancel:hover {
    background-color: $col-font-secondary;
    text-align: center;
    cursor: pointer;
    border: 2px solid $col-ref-highlight;
    color: $col-ref-highlight;
    transform: scale(1.00) translateX(-1.01px);
    box-shadow: 0px 3px 5px $col-shadow-black;

    svg path {
        fill: $col-ref-highlight;
    }
}


.button-delete {
    @include btn($col-font-secondary, $col-bg-secondary, $col-font-secondary);
    border: 1px solid $col-bg-secondary;
    width: 126px;
    height: 55px;
}

.contact-initials {
    font-size: 60px;
    color: $col-font-secondary;
    letter-spacing: -5px;
    letter-spacing: -8px;
    transform: translateX(-3px);
}

.button-create:not(.disabled):not(.checkmark):hover,
.button-save:hover {
    background-color: $col-ref-highlight;
    color: $col-font-secondary;
    cursor: pointer;
    box-shadow: 0px 3px 5px $col-shadow-black;
    transform: scale(1.00) translateX(-1.01px);
}

.icon-done {
    width: 18px;
    height: 18px;
    stroke: $col-font-inactive;
}

.button-create {
    @extend %button-shared;
    width: 214px;
    height: 57px;

    img {
        transition: opacity 0.3s ease;
        object-fit: contain;
    }
}

.button-create.disabled,
.button-create.checkmark {
    background-color: $col-font-dropdown;
    cursor: not-allowed;

    img {
        opacity: 0.5;
    }

    &:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;

        img {
            opacity: 0.5;
        }
    }
}

.button-create.active {
    background-color: $col-bg-secondary;
    color: $col-font-secondary;
    cursor: pointer;

    img {
        opacity: 1;
    }

    &:hover {
        background-color: $col-ref-highlight;
        box-shadow: 0px 3px 5px $col-shadow-black;
        transform: scale(1.00) translateX(-1.01px);
    }
}

.button-save {
    @include btn();
    width: 111px;
    height: 57px;
}

.button-save.disabled {
    background-color: $col-font-inactive;
    color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;

    img,
    svg {
        opacity: 0.5;
    }

    &:hover {
        box-shadow: none;
        transform: none;
    }
}

.button-save.active {
    background-color: $col-bg-secondary;
    color: $col-font-secondary;

    &:hover {
        background-color: $col-ref-highlight;
        box-shadow: 0px 3px 5px $col-shadow-black;
        transform: scale(1.00) translateX(-1.01px);
    }
}

@media screen and (max-width: 1470px) {

    .dialog-left {
        gap: 6px;

        h2 {
            font-size: 50px;
        }

        span {
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 1340px) {

    .dialog-left {
        gap: 5px;

        h2 {
            font-size: 39px;
        }

        span {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 1050px) {

    .dialog-left {
        gap: 4px;

        h2 {
            font-size: 30px;
        }

        span {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 1400px) {

    .dialog-content {
        transform: translateY(100vw);
    }

    .dialog-content.animate-in {
        transform: translateY(0);
    }

    .dialog-content.animate-out {
        transform: translateY(100vw);
    }
}

@media screen and (max-width: 1000px) {

    .button-cancel {
        display: none;
    }

    .button-delete {
        width: 99px;
        height: 51px;
    }

    .button-create {
        width: 202px;
        height: 51px;
        margin-top: 15px;
    }

    .button-save {
        width: 107px;
        height: 51px;
    }

    .dialog-right .close-icon {
        display: none;
    }

    .dialog-left {
        height: 60%;
        width: 100%;
        border-radius: 35px 35px 0 0;
        padding: 66px 24px 66px 24px;
        display: flex;
        gap: 4px;

        h2 {
            font-size: 50px;
        }

        span {
            font-size: 22px;
        }

        img.logo {
            display: none;
        }
    }

    .dialog-left .mobile-close {
        display: flex;
        position: absolute;
        top: 24px;
        right: 24px;

        button {
            width: 30px;
            height: 30px;
            background: transparent;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.2s ease;

            img {
                width: 14px;
                height: 14px;
                pointer-events: none;
            }

            &:hover {
                background-color: $col-ref-highlight;
            }
        }
    }

    .buttons {
        justify-content: center;
    }

    .dialog-content {
        max-height: calc(100dvh - 1px);
        height: calc(100vh - 50px - 30px);
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        border-radius: 35px;
        overflow: visible;
    }

    .dialog-right {
        width: 100%;
        border-radius: 0 0 35px 35px;
        position: relative;
    }

    .form-wrapper {
        flex-direction: column;
        gap: 24px;
        align-items: center;
        max-width: 100%;
        margin-top: 30px;

        .profile-ring {
            position: absolute;
            top: -160px;
            left: 50%;
            transform: translateX(-50%);
        }

        .profile-placeholder {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            background-color: $col-font-dropdown;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        max-width: 400px;
    }

    input {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        border-radius: 10px;
        border: 1px solid $col-font-inactive;
        width: 100%;
        flex: 1;
        transition: border-color 0.3s ease;

        &.invalid {
            border-color: $col-error-red;
        }

        &::placeholder {
            color: $col-shadow-black;
            opacity: 0.7;
        }

        &:focus {
            outline: none;
            border-color: $col-ref-highlight;
        }
    }

    .input-wrapper {
        position: relative;
        height: 50px;
        margin-top: 8px;

        input {
            padding-right: 48px;
        }

        img {
            position: absolute;
            top: 43%;
            right: 18px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            pointer-events: none;
        }
    }

}

@media screen and (max-width: 480px) {

    input {
        font-size: 12px;
        padding: 10px 10px;
    }

    .error {
        font-size: 7px;
    }

    .dialog-left {
        h2 {
            font-size: 40px;
        }

        span {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 380px) {

    .buttons {
        gap: 3px;
    }

    input {
        font-size: 10px;
    }

    .dialog-left {
        h2 {
            font-size: 30px;
        }

        span {
            font-size: 13px;
        }
    }
}
/* 
@include media("iphone-se") {

    @include h2Typo("iphone-se");
    @include spanTypo("iphone-se");

    .dialog-content {
        width: 100vw;
        max-width: 375px;
        border-radius: 35px;
    }

    .dialog-left {
        border-radius: 35px 35px 0 0;
        padding: 24px;
        gap: 2px;
    }

    .dialog-right {
        padding: 24px;
        border-radius: 0 0 35px 35px;
    }

    .form-wrapper {
        padding-top: 32px;
        gap: 16px;

        .profile-ring {
            position: absolute;
            top: -115px;
            left: 50%;
            transform: translateX(-50%);
        }

        .profile-placeholder {
            width: 120px;
            height: 120px;

            svg {
                width: 48px;
                height: 48px;
            }
        }
    }

    .input-wrapper input {
        font-size: 10px;
        height: 44px;
    }

    .button-create {
        font-size: 16px;
        height: 48px;
        width: 100%;
    }

    .close-button {
        padding: 4px;
    }
}
    */