<div class="dialog-overlay" (click)="onOverlayClick()">
    <div class="dialog-content" [class.animate-in]="animateIn" [class.animate-out]="animateOut"
        (click)="$event.stopPropagation()">

        <div class="dialog-left">
            <img src="../../../../assets/icons/navbar/logo.svg" alt="Join Logo" class="logo" />
            <h2>Add contact</h2>
            <span>Tasks are better with a team!</span>
            <div class="underline"></div>
        </div>

        <div class="dialog-right">
            <div class="form-wrapper">
                <div class="profile-placeholder">
                    <img src="assets/icons/contacts/contact_name.svg" alt="Profile" />
                </div>

                <form (submit)="onCreate()" #contactForm="ngForm">
                    <div class="input-wrapper">
                        <input type="text" placeholder="Name" [(ngModel)]="contactData.name" name="name" />
                        <img src="assets/icons/contacts/contact_name.svg" alt="Name Icon" />
                    </div>

                    <div class="input-wrapper">
                        <input type="email" placeholder="Email" [(ngModel)]="contactData.mail" name="mail" />
                        <img src="assets/icons/contacts/contact_mail.svg" alt="Mail Icon" />
                    </div>

                    <div class="input-wrapper">
                        <input type="text" placeholder="Phone" [(ngModel)]="contactData.phone" name="phone" />
                        <img src="assets/icons/contacts/contact_phone.svg" alt="Phone Icon" />
                    </div>

                    <div class="buttons">
                        <button type="button" (click)="onCancel()">Cancel</button>
                        @if (contactData.name.trim() != '') {
                        <button type="submit">Update contact</button>
                        } @else {
                        <button type="submit">Create contact</button>
                        }
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>