@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/fonts/fonts.scss";

section {
  width: 650px;
  height: 450px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-direction: column;
  background-color: green;
}

.form-login {
  width: 440px;
  display: flex;
  gap: 32px;
  flex-direction: column;

  input {
  }
}
