
@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/fonts/fonts.scss";

.login-dialog,
.sign-up-dialog {
  width: 100%;
  max-width: 650px;
  height: 450px;
  border-radius: 30px;
  padding: 0 120px;
  @include dFlex($gap: 36px);
  flex-direction: column;
  background-color: var(--col-bg-tertiary);

  .title-wrapper {
    @include dFlex();
    flex-direction: column;

    .login-underline {
      width: 75%;
      height: 1px;
      border: 1px solid var(--col-ref-highlight);
      margin-top: 16px;
    }
  }
}

.form-login {
  width: 100%;
  max-width: 440px;
  @include dFlex($gap: 32px);
  flex-direction: column;

  .mail-input-wrapper,
  .password-input-wrapper, 
  .form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    .icon, .form-icon {
      position: absolute;
      right: 20px;
      top: 12px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      border: 1px solid var(--col-font-grey);
      border-radius: 10px;
      padding: 12px 50px 12px 20px;
      color: var(--col-bg-secondary);
      resize: none;
      font-family: "Inter", sans-serif;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: var(--col-font-inactive);
      }

      &::placeholder {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        color: var(--col-font-inactive);
        opacity: 1;
      }

      &.ng-invalid.ng-touched {
        border-color: #e44c36 !important;
      }
    }
  }

  .error-message {
    position: absolute;
    bottom: -20px;
    left: 8px;
    color: #e44c36;
    font-size: 12px;
  }
}

.login-button-wrapper,
.sign-up-button-wrapper {
  @include dFlex($gap: 36px);

  .login-button,
  .guest-button,
  .sign-up-button {
    @include dFlex($jc: space-between, $gap: 4px);
    font-size: 21px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 10px;
  }

  .guest-button {
    background-color: var(--col-ref-active-nav);
    border: 1px solid var(--col-bg-secondary);
    color: var(--col-bg-tertiary);
    &:hover {
      border-color: var(--col-ref-highlight);
      color: var(--col-ref-highlight);
      filter: drop-shadow(2px 4px 4px #a8a8a8);
    }
  }

  .login-button,
  .sign-up-button {
    background-color: var(--col-bg-secondary);
    color: var(--col-bg-tertiary);
    white-space: nowrap;
    color: var(--col-bg-tertiary);

    &:hover {
      background-color: var(--col-ref-highlight);
      filter: drop-shadow(2px 4px 4px #a8a8a8);
    }

    &:disabled {
      pointer-events: none;
      color: var(--col-font-secondary);
      background-color: var(--col-font-inactive);
    }
  }
}

@media screen and (max-width: 700px) {
  .login-dialog,
  .sign-up-dialog {
    width: 400px;
    height: 475px;
    padding: 16px !important;
  }

  .form-login {
    max-width: 360px;
  }
}

@media screen and (max-width: 440px), screen and (max-height: 750px) {
  .login-dialog,
  .sign-up-dialog {
    width: 100%;
    max-height: 475px;
    height: auto;
  }

  .login-button-wrapper,
  .sign-up-button-wrapper {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 4px;

    .login-button,
    .guest-button,
    .sign-up-button {
      width: 180px;
      height: 40px;
      font-size: 16px;
      justify-content: center;
    }
  }

  .form-login {
    gap: 20px !important;
  }
}

@media screen and (max-width: 360px) {
  .login-dialog,
  .sign-up-dialog {
    gap: 24px;
  }

  h2 {
    font-size: 36px;
  }
}