<div class="form-group">
  <label for="title">Title <span>*</span></label>
  <input
    [ngModel]="
      taskDataService.editModeActive
        ? tasksService.tasks[taskIndex()].title
        : taskDataService.inputTaskTitle
    "
    (ngModelChange)="taskDataService.inputTaskTitle = $event"
    #titleInput="ngModel"
    id="title"
    name="title"
    type="text"
    class="form-control"
    placeholder="Enter a title"
    minlength="2"
    maxlength="50"
    pattern="^[^\s].{1,}$"
    (click)="this.signalService.titleCleared.set(false)"
    required
  />
  @if (!titleInput.valid && titleInput.touched &&
  !this.signalService.titleCleared()) {
  <p class="validation-alert">The title must be at least 3 letters</p>
  }
</div>

<div class="form-group">
  <label for="description">Description</label>
  <textarea
    [ngModel]="
      taskDataService.editModeActive
        ? tasksService.tasks[taskIndex()].description
        : taskDataService.inputTaskDescription
    "
    (ngModelChange)="taskDataService.inputTaskDescription = $event"
    #descriptionInput="ngModel"
    id="description"
    name="description"
    class="form-control"
    placeholder="Enter a description"
    minlength="2"
    maxlength="300"
    pattern="^[^\s].{1,}$"
  ></textarea>
</div>

<div class="form-group">
  <label for="due-date">Due date <span>*</span></label>
  <input
    [ngModel]="
      taskDataService.editModeActive
        ? formatDate(tasksService.tasks[taskIndex()].dueDate)
        : formatDate(taskDataService.inputTaskDueDate)
    "
    (ngModelChange)="onDueDateChange($event)"
    #dateInput="ngModel"
    id="due-date"
    name="dueDate"
    type="date"
    class="form-control"
    [min]="today"
    (click)="this.signalService.dateCleared.set(false)"
    required
  />
  @if (!dateInput.valid && dateInput.touched &&
  !this.signalService.dateCleared()) {
  <p class="validation-alert">No due date set</p>
  }
</div>

<div class="form-group">
  <!-- Label bleibt sichtbar und semantisch -->
  <label for="filepicker">Files</label>

  <!-- Versteckter Filepicker -->
  <input
    type="file"
    id="filepicker"
    accept="image/*"
    multiple
    style="display: none"
    (change)="onFileSelected($event)"
    aria-label="Bilder zum Hochladen auswählen"
  />

  <!-- Sichtbarer, klickbarer Auslöser -->
  <span class="toggle-dropdown-list">
    <input type="text" placeholder="Click to upload" readonly />
    <img
      class="file-add"
      src="./assets/icons/general/upload.svg"
      alt="Datei auswählen"
      onclick="filepicker.click()"
    />
  </span>
</div>

<!-- Gallery -->
<app-gallery [isEditMode]="true"></app-gallery>
