<div class="form-group">
  <label for="title">Title <span class="red-star">*</span></label>
  <input
    [ngModel]="
      taskDataService.editModeActive
        ? tasksService.tasks[taskIndex()].title
        : taskDataService.inputTaskTitle
    "
    (ngModelChange)="taskDataService.inputTaskTitle = $event"
    #titleInput="ngModel"
    id="title"
    name="title"
    type="text"
    class="form-control"
    placeholder="Enter a title"
    minlength="2"
    maxlength="50"
    pattern="^[^\s].{1,}$"
    (click)="this.signalService.titleCleared.set(false)"
    required
  />
  @if (!titleInput.valid && titleInput.touched &&
  !this.signalService.titleCleared()) {
  <p class="validation-alert">The title must be at least 3 letters</p>
  }
</div>

<div class="form-group">
  <label for="description">Description</label>
  <textarea
    [ngModel]="
      taskDataService.editModeActive
        ? tasksService.tasks[taskIndex()].description
        : taskDataService.inputTaskDescription
    "
    (ngModelChange)="taskDataService.inputTaskDescription = $event"
    #descriptionInput="ngModel"
    id="description"
    name="description"
    class="form-control"
    placeholder="Enter a description"
    minlength="2"
    maxlength="300"
    pattern="^[^\s].{1,}$"
  ></textarea>
</div>

<div class="form-group">
  <label for="due-date">Due date <span class="red-star">*</span></label>
  <input
    [ngModel]="
      taskDataService.editModeActive
        ? formatDate(tasksService.tasks[taskIndex()].dueDate)
        : formatDate(taskDataService.inputTaskDueDate)
    "
    (ngModelChange)="onDueDateChange($event)"
    #dateInput="ngModel"
    id="due-date"
    name="dueDate"
    type="date"
    class="form-control"
    [min]="today"
    (click)="this.signalService.dateCleared.set(false)"
    required
  />
  @if (!dateInput.valid && dateInput.touched &&
  !this.signalService.dateCleared()) {
  <p class="validation-alert">No due date set</p>
  }
</div>

<div class="form-group">

  <div class="attachments-wrapper">
    <label>Attachments</label>
    <div class="action-control-button-group">
      @if (signalService.canUndo()) {
      <button
        class="control-button undo-button"
        type="button"
        (click)="signalService.undoRemoveImage()"
        aria-label="Undo Image"
      >
        <i class="material-icons">replay</i>
      </button>
      }
      <button class="control-button" type="button" (click)="signalService.removeAllImages()">
        Delete all <i class="material-icons">delete_outline</i>
      </button>
    </div>
  </div>

  <div
    class="file-upload-trigger"
    [class.drag-over]="isDragOver"
    [class.has-gallery]="signalService.taskImages().length > 0"
    (dragover)="onDragOver($event)"
    (dragleave)="isDragOver = false"
    (dragenter)="isDragOver = true"
    (drop)="onDrop($event)"
  >
    <!-- Gallery -->
    @if (this.signalService.taskImages().length) {
    <app-gallery [isEditMode]="true" style="width: 100%"></app-gallery>
    } @if (this.signalService.taskImages().length <= 0) {
    <span>Drag & Drop to Upload Image</span>
    <span>OR</span>
    }
    <button
      class="upload-button"
      type="button"
      tabindex="0"
      aria-label="Upload images"
      (click)="filepicker.click()"
      (keydown.enter)="filepicker.click()"
      (keydown.space)="filepicker.click()"
    >
      <img src="./assets/icons/general/upload.svg" alt="Upload" />
    </button>
  </div>
  <input
    #filepicker
    type="file"
    accept="image/jpeg, image/png, image/svg, image/webp"
    multiple
    style="display: none"
    (change)="onFileSelected($event)"
    aria-label="Chose images to upload"
  />
</div>
