@import "../../../../assets/styles/mixins.scss";
@import "../../../../assets/fonts/fonts.scss";

:host {
  @include dFlex($ai: flex-start, $gap: 32px);
  flex-direction: column;
  max-width: 440px;
}

.form-group {
  @include dFlex($ai: flex-start, $gap: 8px);
  flex-direction: column;
}

input[type="text"],
input[type="date"],
textarea {
  width: 440px;
  padding: 12px 20px;
  border: 1px solid $col-font-grey;
  border-radius: 10px;
  color: $col-bg-secondary;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: $col-font-inactive;
  }

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: $col-font-inactive;
    opacity: 1;
  }
}

// cursor pointer at datepicker sideboard
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

textarea {
  height: 120px;
}

.red-star,
.validation-alert {
  color: $col-task-urgent;
}

.validation-alert {
  font-size: 14px;
  position: absolute;
  bottom: -20px;
}

.file-upload-trigger {
  @include dFlex($gap: 8px);
  flex-direction: column;
  width: 440px;
  min-height: 48px;
  padding: 16px;
  border: 2px dashed $col-font-grey;
  border-radius: 10px;
  background-color: white;
  color: $col-bg-secondary;
  transition: border-color 0.2s;

  &:hover,
  &:focus {
    border-color: $col-font-inactive;
    outline: none;
  }

  .upload-button {
    background-color: transparent;
    padding: 8px;
  }

  img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
  }

  &.drag-over {
    border-color: $col-bg-subtaskbar;
    background: rgba(0, 123, 255, 0.1);
  }

  &.has-gallery {
    flex-direction: row;
    align-items: flex-start;
  }
}

.attachments-wrapper {
  @include dFlex($jc: space-between);
  width: 100%;
}

.action-control-button-group {
  @include dFlex($jc: space-between, $gap: 8px);
  flex-shrink: 0;

  .control-button {
    @include dFlex($jc: space-around, $position: relative);
    border-radius: 10px;
    padding: 0 0 0 12px;
    background-color: $col-bg-secondary;
    color: $col-font-secondary;
    height: 30px;
    width: 120px;
  }

  .undo-button {
    width: 40px;
    padding: unset;
  }
}

// container queries
@container task-section (max-width: 500px) {
  :host,
  .form-group,
  .form-control,
  .file-upload-trigger,
  h2 {
    width: 100% !important;
  }
}

@container task-section (max-width: 360px) {
  .form-control {
    padding: 12px 12px !important;
  }
}
