<div class="form-group">
  <label for="title">Title <span>*</span></label>
  <input
    [ngModel]="taskDataService.inputTaskTitle"
    (ngModelChange)="taskDataService.inputTaskTitle = $event"
    #titleInput="ngModel"
    id="title"
    name="title"
    type="text"
    class="form-control"
    placeholder="Enter a title"
    minlength="3"
    maxlength="50"
    pattern="^[A-Za-z0-9ÄÖÜäöüß]{3}[A-Za-z0-9ÄÖÜäöüß\-_\s]*$"
    required
  />
  @if (!titleInput.valid &&  titleInput.touched) {
    <p class="validation-alert">Title must be at least 3 letters</p>
  }
</div>

<div class="form-group">
  <label for="description">Description</label>
  <textarea
    [ngModel]="taskDataService.inputTaskDescription"
    (ngModelChange)="taskDataService.inputTaskDescription = $event"
    #descriptionInput="ngModel"
    id="description"
    name="description"
    class="form-control"
    placeholder="Enter a description"
    pattern="^[A-Za-z0-9ÄÖÜäöüß]{3}[A-Za-z0-9ÄÖÜäöüß\-_\s]*$"
  ></textarea>
  @if (!descriptionInput.valid &&  descriptionInput.touched) {
    <p class="validation-alert">Title must be at least 3 letters</p>
  }
</div>

<div class="form-group">
  <label for="due-date">Due date <span>*</span></label>
  <input
    [ngModel]="formatDate(taskDataService.inputTaskDueDate)"
    (ngModelChange)="onDueDateChange($event)"
    #dateInput="ngModel"
    id="due-date"
    name="dueDate"
    type="date"
    class="form-control"
    [min]="today"
    required
  />
  @if (!dateInput.valid && dateInput.touched) {
    <p class="validation-alert">no due Date set</p>
  }
</div>
