@import "../../../../assets/styles/mixins.scss";
@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/fonts/fonts.scss";

span,
.validation-alert  {
  color: $col-task-urgent;
}

.validation-alert {
  font-size: 14px;
}

:host {
  @include dFlex($ai: flex-start, $jc: center, $gap: 32px);
  flex-direction: column;
}

:host .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

:host input[type="text"],
:host input[type="date"],
:host textarea {
  width: 440px;
  border: 1px solid $col-font-grey;
  border-radius: 10px;
  padding: 12px 20px;
  color: $col-font-grey;
  resize: none;

  &:focus {
    outline: none;
    border-color: $col-font-inactive;
  }

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: $col-font-inactive;
    opacity: 1;
  }
}

:host textarea {
  height: 120px;
}

@container task-section (max-width: 500px) {
  :host,
  :host .form-group,
  :host .form-control,
  :host h2 {
    width: 100% !important;
  }
}

@container task-section (max-width: 360px) {
  .form-control {
    padding: 12px 12px !important;
  }
}
