@import "../../../../assets/styles/mixins.scss";
@import "../../../../assets/fonts/fonts.scss";

:host {
  @include dFlex($ai: flex-start, $gap: 32px);
  flex-direction: column;
}

.form-group {
  @include dFlex($ai: flex-start, $gap: 8px);
  flex-direction: column;
}

input[type="text"],
input[type="date"],
textarea {
  width: 440px;
  padding: 12px 20px;
  border: 1px solid $col-font-grey;
  border-radius: 10px;
  color: $col-bg-secondary;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: $col-font-inactive;
  }

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: $col-font-inactive;
    opacity: 1;
  }
}

// cursor pointer at datepicker sideboard
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

textarea {
  height: 120px;
}

span,
.validation-alert {
  color: $col-task-urgent;
}

.validation-alert {
  font-size: 14px;
}

.file-upload-trigger {
  @include dFlex($ai: flex-start);
  width: 440px;
  min-height: 48px; // Höhe ggf. wie input (padding oben/unten x2 + fontgröße); anpassen wenn nötig
  padding: 12px 20px;
  border: 2px dashed $col-font-grey;
  border-radius: 10px;
  background-color: white;
  color: $col-bg-secondary;
  transition: border-color 0.2s;
  
  &:hover, &:focus {
    border-color: $col-font-inactive;
    outline: none;
  }

  .upload-button {
    background-color: transparent;
    padding: 16px;
  }
  
  img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
  }

  // Optional: Damit Placeholder-Text mit Bild zentriert wirkt
  .upload-button-text {
    color: $col-font-main;
    display: block;
    line-height: 1;
  }
}

// container queries
@container task-section (max-width: 500px) {
  :host,
  .form-group,
  .form-control,
  h2 {
    width: 100% !important;
  }
}

@container task-section (max-width: 360px) {
  .form-control {
    padding: 12px 12px !important;
  }
}
