@import './../../../assets/styles/mixins.scss';
@import './../../../assets/styles/variables.scss';

.toast {
    @include dFlex(center, center, 0, fixed);
    top: 80vh;
    left: 60%;
    width: 325px;
    height: 75px;
    transform: translateX(100vw);
    background-color: var(--col-bg-secondary);
    color: var(--col-bg-tertiary);
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 20px;
    z-index: 99;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;

    .toast-icon {
        width: 24px;
        height: 24px;
        margin-left: 12px;
    }

    &.show {
        transform: translateX(-50%);
        opacity: 1;
    }

    &.create {
        background-color: var(--col-bg-secondary);
    }

    &.update {
        background-color: var(--col-bg-secondary);
    }

    &.delete {
        color: var(--col-bg-tertiary);
        background-color: var(--col-bg-secondary);
    }

    &.error {
        background-color: #E74C3C;
    }
}

@media screen and (max-width: 1400px) {

    .toast {
        bottom: 0;
        left: 50%;
        top: auto;
        transform: translate(-50%, 100%);
        transition: transform 0.5s ease, opacity 0.3s ease;

        &.show {
            transform: translate(-50%, -150px);
        }
    }
}