@import './../../../assets/styles/mixins.scss';

.contacts-section {
    @include dFlex(center, center, 0, fixed);
    width: calc(100% - 240px);
    height: calc(100% - 96px);
    top: 96px;
    left: 240px;

    .contacts-list {
        flex: 1;
        max-width: 450px;
        min-width: 280px;
        height: 100%;
        overflow-y: auto;
        word-break: break-word;
        padding: 30px;
        border-right: 1px solid $col-font-inactive;
        >ul {
            &:last-child {
                padding-bottom: 30px;
            }
        }

        .letter-category {
            @include dFlex(center, flex-start, 10px);
            flex-direction: column;
            margin: 40px 0 20px 0;
            >p {
                width: 100%;
                margin-bottom: 10px;
                padding-bottom: 10px;
                padding-left: 25px;
                border-bottom: 1px solid $col-font-inactive;
            }
            .single-contact {
                @include dFlex(flex-start, center, 10px);
                width: 100%;
                padding: 10px 10px;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                    background-color: lightgrey;
                }
            }
        }
    }
}

.new-contact {
    @include dFlex(center, center, 20px, sticky);
    color: white;
    padding: 10px;
    width: 100%;
    top: 0px;
    z-index: 2;
    cursor: pointer;
    >p, >img {
        z-index: 2;
    }
    &::before {
        content: '';
        position: absolute;
        display: flex;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-color: $col-bg-main;
        z-index: 2;
    }
    &::after {
        content: '';
        position: absolute;
        display: flex;
        top: -50px;
        left: -25px;
        width: calc(100% + 50px);
        height: calc(100% + 50px);
        background: white;
        border-radius: 15px;
        z-index: 1;
        filter: blur(8px);
    }
    &:hover {
        &::before {
            background-color: $col-ref-highlight;
            filter: drop-shadow(2px 4px 4px $col-font-inactive);
        }
    }
}

.contact-icon-small {
    @include contactIcon(42px, 12px, -1px);
}

.contact-infos {
    @include dFlex(flex-start, flex-start, 30px);
    flex-direction: column;
    padding: 50px 20px 20px 50px;
    height: 100%;
    flex: 1;
}

