@if (showDialog) {
    <app-contact-dialog 
        (cancel)="toggleDialog()"
        (create)="showDialog = false"
        [contactName]="editName"
        [contactMail]="editMail"
        [contactPhone]="editPhone"
    ></app-contact-dialog>
}

<section class="contacts-section">
    <div class="contacts-list">
        <button class="new-contact" (click)="newContact()">
            <p>Add new contact</p>
            <img src="./assets/icons/contacts/new_contact.svg" alt="">
        </button>
        <ul>
            @for (letter of groupContactsByFirstLetter(); track letter) {
                <li class="letter-category">
                    <p>{{ letter }}</p>
                    @for (contact of contactsService.contacts; track contact; let index = $index) {
                        @if (letter === contact.name.charAt(0).toUpperCase()) {
                            <section class="single-contact" (click)="showContactInfo(index)"
                                [style.backgroundColor]="activeContactIndex === index && contactClicked ? '#2A3647' : ''"
                                [style.color]="activeContactIndex === index && contactClicked ? 'white' : ''"
                            >
                                <div class="contact-icon-small"
                                [style.backgroundColor]="contact.color"
                                [style.border]="activeContactIndex === index && contactClicked ? '2px solid white' : ''"
                                >
                                    {{contact.name.charAt(0).toUpperCase()}}
                                    {{contact.name.split(' ')[1].charAt(0).toUpperCase()}}
                                </div>
                                <div>
                                    <p>{{ contact.name }}</p>
                                    <a>{{ contact.mail }}</a>
                                </div>
                            </section>
                        }
                    }
                </li>
            }
        </ul>
    </div>

    <!-- no code edits after this line  -->
    <div class="contact-infos">
        <app-contact-info 
            [contactClicked]="contactClicked"
            [contactIndex]="activeContactIndex"
            (showDialog)="setStatusDialog($event)">
        
        
        </app-contact-info>
    </div>
</section>