
<section>
    @for (category of taskCategories; track category) {
        <div class="task-category">
            <p>{{ category.label }}</p>
        
            @if (filterTasksByCategory(category.taskType).length > 0) {
            @for (task of filterTasksByCategory(category.taskType); track task) {
                <div class="single-task">
                <p>{{ task.title }}</p>
                <p>{{ task.description }}</p>
                <p>{{ task.dueDate | date:'dd.MM.yyyy' }}</p>
        
                <div>
                    @for (assignee of task.assignedTo; track assignee) {
                    <p>{{ nameInitials(assignee.contactId) }}</p>
                    }
                </div>
                </div>
            }
            } @else {
            <p>No entries</p>
            }
        </div>
    }
</section>

<button (click)="createContact()">Create</button>