<div
  class="viewer-overlay"
  (click)="signalService.isGalleryViewerOpen.set(false)"
>
  <div
    class="viewer-content"
    (swipeleft)="showNextImage()"
    (swiperight)="showPreviousImage()"
    (click)="$event.stopPropagation()"
  >
    <div class="button-container">
      <button (click)="showPreviousImage()" aria-label="Previous image">
        <span class="material-icons">chevron_left</span>
      </button>
      <button (click)="showNextImage()" aria-label="Next image">
        <span class="material-icons">chevron_right</span>
        <!-- ❯ -->
      </button>
    </div>
    @if (taskImages.length > 0) {
    <img
      [src]="taskImages[currentIndex].base64"
      [alt]="taskImages[currentIndex].filename"
      class="img-size"
    />

    <div class="image-metadata">
      <p><strong>Filename:</strong> {{ taskImages[currentIndex].filename }}</p>
      <p><strong>Filetype:</strong> {{ taskImages[currentIndex].fileType }}</p>
      <p><strong>Size:</strong> {{ taskImages[currentIndex].size }} Bytes</p>
      <div class="download-button-wrapper">
        <button class="download-btn" (click)="downloadImage()" aria-label="Download image">
          Download
        </button>
      </div>
    </div>
    }
  </div>
</div>
