<section class="sign-up-dialog">
  <div class="head-wrapper">
    <img
      src="/assets/icons/sign-up/sign-up-arrow.svg"
      alt="Arrow back"
      class="back-to-login"
      (click)="closeDialog.emit()"
    />
    <div class="title-wrapper">
      <h2>Sign up</h2>
      <div class="login-underline"></div>
    </div>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="submitSignUp()" class="form-login">
    <!-- Name Input -->
    <div
      class="form-field"
      [ngClass]="{
        invalid:
          signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched
      }"
    >
      <input type="text" formControlName="name" placeholder="Name" />
      <img
        class="form-icon"
        src="/assets/icons/sign-up/person.svg"
        alt="Person Icon"
      />
      @if (signUpForm.get('name')?.hasError('required') && signUpForm.get('name')?.touched) {
      <span class="error-message">Please enter a first and last name.</span>
      }
      @if (signUpForm.get('name')?.hasError('invalidFullName') && signUpForm.get('name')?.touched) {
      <span class="error-message">Please enter a first and last name.</span>
      }
    </div>
    <!-- Mail Input -->
    <div
      class="form-field"
      [ngClass]="{invalid: signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched}"
    >
      <input type="email" formControlName="email" placeholder="E-Mail" />
      <img
        class="form-icon"
        src="/assets/icons/sign-up/mail.svg"
        alt="Mail Icon"
      />
      @if (signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched) {
      <div class="error-message">Please enter an email address.</div>
      }
      @if (signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched) {
      <div class="error-message">Please enter a valid email address.</div>
      }
    </div>
    <!-- Password Input -->
    <div
      class="form-field"
      [ngClass]="{invalid: signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched}"
    >
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        formControlName="password"
        placeholder="Password"
      />
      @if (!signUpForm.get('password')?.value) {
      <div class="icon">
        <img src="./assets/icons/kanban/lock.svg" alt="Password Icon" />
      </div>
      } @else {
      <div class="icon" (click)="togglePasswordVisibility()">
        <img
          [src]="passwordVisible? './assets/icons/kanban/visibility.svg' : './assets/icons/kanban/visibility_off.svg'"
          alt="Toggle Password Visibility"
        />
      </div>
      } @if (signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched) {
      <span class="error-message">Please enter a password.</span>
      } @if (signUpForm.get('password')?.hasError('minlength') && signUpForm.get('password')?.touched) {
      <span class="error-message">Use at least 8 characters.</span>
      }
    </div>
    <!-- Confirm Password Input -->
    <div
      class="form-field"
      [ngClass]="{invalid: signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched}"
    >
      <input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
      @if (!signUpForm.get('confirmPassword')?.value) {
      <div class="icon">
        <img src="./assets/icons/kanban/lock.svg" alt="Password Icon" />
      </div>
      } @else {
      <div class="icon" (click)="toggleConfirmPasswordVisibility()">
        <img
          [src]="confirmPasswordVisible? './assets/icons/kanban/visibility.svg' : './assets/icons/kanban/visibility_off.svg'"
          alt="Toggle Confirm Password Visibility"
        />
      </div>
      } @if (signUpForm.get('confirmPassword')?.hasError('required') && signUpForm.get('confirmPassword')?.touched) {
      <span class="error-message">Please confirm your password.</span>
      } @if (signUpForm.hasError('passwordMismatch') && signUpForm.get('confirmPassword')?.touched && signUpForm.get('confirmPassword')?.value?.length > 0) {
      <span class="error-message">Passwords do not match.</span>
      }
    </div>
    <!-- Error Message Sign up -->
    @if (signUpErrorMessage) {
    <div class="error-message">
      {{ signUpErrorMessage }}
    </div>
    }
    <!-- Privacy Policy Checkbox -->
    <div class="privacy-policy-wrapper">
      <label
        class="custom-checkbox"
        [ngClass]="{ invalid: signUpForm.valid && !acceptPolicy }"
      >
        <input
          type="checkbox"
          [checked]="acceptPolicy"
          (change)="acceptPolicy = !acceptPolicy"
        />
        <span class="checkmark">
          I accept the
          <a routerLink="/privacy-policy" target="_blank"> Privacy Policy</a>.
        </span>
      </label>
    </div>
    <!-- Sign up Button -->
    <div class="sign-up-button-wrapper">
      <button class="sign-up-button" type="submit" [disabled]="signUpForm.invalid || !acceptPolicy">
        Sign up
      </button>
    </div>
  </form>
</section>