<div class="sign-up-section">
    <div class="sign-up-header">
        <div class="sign-up-header-left">
        </div>
        <div class="sign-up-header-middle">
        </div>
        <div class="sign-up-header-right">
        </div>
    </div>
    <div class="sign-up-content">
        <div class="sign-up-form-and-accept-container">
            <div class="sign-up-form-container">

            </div>
            <div class="sign-up-accept-container">

            </div>
        </div>
    </div>
    <div class="sign-up-footer">
        <div class="sign-up-button">

        </div>
    </div>
</div>