@import "../../../assets/styles/mixins.scss";

.header-section-desktop {
  @include dFlex($ai: center, $jc: space-between);
  max-width: 1920px;
  width: 100%;
  padding: 30px;
}

.menu-section {
  @include dFlex($ai: center, $jc: center, $gap: 12px);

  button {
    border: 3px solid $col-bg-secondary;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: $col-ref-highlight;
  }
}
