<section class="header-section-desktop">
  <p>Kanban Project Management Tool</p>
  <div class="menu-section">
    <a routerLink="/help"
      ><img src="../../../assets/icons/kanban/help.svg" alt=""
    /></a>
    <button (click)="toggleDropdown(); $event.stopPropagation()">G</button>
  </div>

  <div class="dropdown-menu" [class.show]="isDropdownOpen" (click)="$event.stopPropagation()">
    <div class="router-wrapper">
      <a (click)="toggleDropdown()" routerLink="/help">Help</a>
      <a (click)="toggleDropdown()" routerLink="/legal-notice">Legal Notice</a>
      <a (click)="toggleDropdown()" routerLink="/privacy-policy">Privacy Policy</a>
      <p (click)="toggleDropdown(); logout()">Log out</p>
    </div>
  </div>
</section>
