@import "../../../assets/styles/mixins.scss";

.header-section-desktop {
  @include dFlex($ai: center, $jc: space-between);
  max-width: 1920px;
  width: 100%;
  padding: 30px;
}

.menu-section {
  @include dFlex($ai: center, $jc: center, $gap: 12px);

  button {
    border: 3px solid $col-bg-secondary;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: $col-ref-highlight;
  }
}

.dropdown-menu {
  position: absolute;
  top: 96px;
  right: 0;
  width: 150px;
  background-color: $col-bg-secondary;
  border: unset;
  border-radius: 20px 0 20px 20px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  padding: 10px;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  .router-wrapper {
    @include dFlex($ai: flex-start, $jc: center);
    flex-direction: column;

    a,
    p {
      cursor: pointer;
      width: 100%;
      padding: 14px 0 14px 16px;
      text-decoration: none;
      color: $col-font-dropdown;

      &:hover {
        background-color: $col-ref-hover;
      }
    }
  }
}
