<section class="header-section-desktop">
  <p>Kanban Project Management Tool</p>
  <div class="menu-section">
    <a routerLink="/help"
      ><img src="../../../assets/icons/kanban/help.svg" alt=""
    /></a>
    <button (click)="toggleDropdown()">G</button>
  </div>

  @if (isDropdownOpen) {
  <div class="dropdown-menu" [class.show]="isDropdownOpen">
    <div class="router-wrapper">
      <a routerLink="/help">Help</a>
      <a routerLink="/legal-notice">Legal Notice</a>
      <a routerLink="/privacy-policy">Privacy Policy</a>
      <p (click)="logout()">Log out</p>
    </div>
  </div>
  }
</section>
