<li class="task-card"
    [style.display]="taskData.title.toLowerCase().includes(searchRequest.toLowerCase()) ? 'flex' : 'none'">
    <div class="task-category">{{taskData.category}}</div>

    <div class="task-title">{{taskData.title}}</div>
    <div class="task-description">{{taskData.description}}</div>

    <div class="task-progress">
        <!-- <div class="bar-bg">
            <div class="bar-fill" [style.width.%]="progressPercentage"></div>
        </div>
        <span class="subtask-text">{{ doneSubtasks }}/{{ totalSubtasks }} Subtasks</span> -->
    </div>

    <!-- test section, can be deleted -->
    <!-- <section>
        <p>{{taskData.priority}}</p>
        @for (subtask of taskData.subTasks; track subtask) {
            <div class="subtask">
                {{subtask}}
            </div>
        }
    </section> -->
    <!-- test section, can be deleted -->

        <div class="task-footer">
            <div class="assignedContacts">
                @for (contact of taskData.assignedTo; track contact.contactId; let index = $index) {
                    @if (doesContactExist(contact.contactId)) {
                        <span class="assignedContact" [style.backgroundColor]="contactsService.contactColor(contact.contactId)">
                            {{ contactsService.nameInitials(contact.contactId) }}
                        </span>
                    }
                }
            </div>
            <!-- <img/> -->
        </div>
    </li>