@import './../../../../assets/styles/mixins.scss';

.task-card {
    background: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 12px;
    width: 250px;
    height: auto;
    min-height: 180px;
    flex-shrink: 0;

    .task-category {
        font-size: 12px;
        font-weight: 600;
        padding: 4px 8px;
        color: white;
        border-radius: 8px;
        width: fit-content;
    }

    .task-title {
        font-size: 16px;
        font-weight: 700;
        color: #222;
    }

    .task-description {
        font-size: 14px;
        color: #555;
    }

    .task-progress {
        display: flex;
        align-items: center;
        gap: 8px;

        .progress-bar {
            position: relative;
            border-radius: 10px;
            flex: 1;
            height: 6px;
            background-color: $col-font-grey;

            .progress-fill {
                position: absolute;
                border-radius: 10px;
                left: 0;
                top: 0;
                background-color: $col-bg-subtaskbar;
                height: 100%;
            }
        }

        .progress {
            width: 70px;

            >p {
                font-size: 12px;
            }
        }
    }

    .task-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .assignedContacts {
            display: flex;

            .assignedContact {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                font-size: 12px;
                font-weight: 400;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid white;
                margin-left: -6px;

                &:first-child {
                    margin-left: 0;
                }
            }

            .overflow-indicator {
                background-color: #d1d1d1; // neutrale Farbe
                color: #2A3647;
                font-weight: 600;
            }
        }



        .priority-icon {
            width: 18px;
        }
    }
}