@import  "../../assets/styles/mixins.scss";


app-login-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px; 
}

.logo-animated {
    @include dFlex(center, center, 0, absolute);
    padding: 15px;
    top: 0;
    left: 0;
    min-height: 100px !important;
    min-width: 100px !important;
    transition:all 0.5s ease;
    z-index: 300;
    >img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1 !important;
        max-width: 310px;
        max-height: 310px;
    }
}

.temp-to-main {
    position: absolute;
    bottom: 8vh;
    width: 100px;
    height: 50px;
    background-color: pink;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.login-header {
    @include dFlex(center, center, 15px, absolute);
    padding: 15px;
    top: 0;
    right: 0;
    >p {
        font-weight: 400;
    }
    .signup-btn {
        font-weight: 600;
        padding: 15px 20px;
        border-radius: 8px;
        color: white;
        background-color: $col-ref-active-nav;
        z-index: 1000;
    }
}

.login-footer {
    @include dFlex(center, center, 15px, absolute);
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    >p {
        cursor: pointer;
        color: $col-font-inactive;
    }
}


// Media Queries
@media screen and (max-width:360px) {
    app-login-dialog {
        padding: 8px
    }
}