<section class="start-animation">
    <div class="background-animated" [style.backgroundColor]="loginBackgroundColor"></div>
    <img
        [src]="loginLogoImgSrc"
        class="logo-animated"
        [class.animate]="startAnimationTrigger"
    />
</section>

<!-- Dynamically render either login or sign-up dialog -->
@if (!showSignUpDialog) {
    <app-login-dialog />
} @else {
    <!-- Sign-up dialog emits closeDialog and signUpSuccess -->
    <app-sign-up-dialog (closeDialog)="toLogin()" (signUpSuccess)="onSignUpSuccess()" />
}

<section class="login-header">
    <p>Not a Join User?</p>

    <!-- Changed function name to toSignUpDialog() to avoid overlap - this sign up button opens the sign-up dialog -->
    <button class="signup-btn" type="button" (click)="toSignUpDialog(); $event.stopPropagation()">Sign up</button>

</section>

<section class="login-footer">
    <p (click)="toPrivacyPolicy()">Privacy policy</p>
    <p (click)="toLegalNotice()">Legal notice</p>
</section>

<!-- TEST SIGNUP AREA - DO NOT DELETE -->
<div class="test-login">
    <input type="text" placeholder="Name" class="name" [(ngModel)]="nameTemp">
    <input type="email" placeholder="Email" [(ngModel)]="emailTemp" />
    <input type="password" placeholder="Password" [(ngModel)]="passwordTemp" />
    <button class="temp-to-main" (click)="createUser()">signup User</button>
</div>
<!-- TEST SIGNUP AREA - DO NOT DELETE -->
