<section class="summary-main">
  <div class="summary-header">
    <h1>Join 360</h1>
    <span class="v-line"></span>
    <h4>Key Metrics at a Glance</h4>
    <span class="h-line"></span>
  </div>

  <section class="summary-section">
    <article class="summary-wrapper">
      <section class="summary-row">
        <p class="summary-icon">to-do</p>
        <p class="summary-icon">done</p>
      </section>
  
      <section class="summary-row">
        <p class="summary-icon">urgent</p>
      </section>
  
      <section class="summary-row">
        <p class="summary-icon">to-do</p>
        <p class="summary-icon">done</p>
        <p class="summary-icon">done</p>
      </section>
    </article>
  
    <aside class="summary-welcome">
      <h4>Good morning "name"</h4>
    </aside>
  </section>

</section>
