@import "./../../../assets/styles/variables.scss";
@import "./../../../assets/styles/mixins.scss";

//TODO: add more style in media queries for mobile and tablet

.summary-main {
    position: relative;
    max-width: calc($appMaxWidth - $navbar-width);
    height: calc(100vh - $header-height);
    padding: 55px 0 0 55px;
}

.summary-header {
    @include dFlex(flex-start, center);
}

.v-line {
    @include vLine();
}

.h-line {
    @include hLine();
}

.summary-section {
    @include dFlex(flex-start, center, 40px);
    margin-top: 40px;
}

.summary-wrapper {
    @include dFlex(center, space-between, 25px);
    flex-direction: column;
    flex: 2;
    max-width: 560px;
}

.summary-row {
    @include dFlex(flex-start, center, 25px);
    height: 160px;
}

.sum-icon {
    @include dFlex(center, center, 10px);
    flex: 1;
    padding: 20px;

    >img {
        background-color: $col-bg-secondary;
        border: 5px solid transparent;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        padding: 8px;
        object-fit: contain;
        overflow: visible;
    }
}

// für was?
// .transform-right {
//     transform-origin: right center;
// }

// .transform-left {
//     transform-origin: left center;
// }

// .transform-center {
//     transform-origin: center center;
// }

// .transform-bottom {
//     transform-origin: left top;
// }

.summary-btn {
    flex: 1;
    @include dFlex(center, center);
    border-radius: 30px;
    background-color: white;
    height: 100%;
    box-shadow: 0px 0px 10px $col-shadow-black;
    transition: transform 0.2s ease, background-color 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: $col-ref-hover;
        transform: scale(1.04);
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);

        .task-count {
            color: white;
        }

        .sum-icon {
            >img {
                background-color: white;
            }
        }
    }
}

.timeText{
    font-size: 35px;
    line-height: 120%;
}

.user-name {
    font-size: 44px;
    line-height: 120%;
    color: $col-ref-highlight;
    font-weight: 600
}

.task-count {
    @include dFlex(center, center);
    flex-direction: column;

    >h5 {
        font-size: 3rem;
    }

    >p {
        text-align: center;
    }
}

.summary-welcome {
    flex: 1;
}

@media screen and (max-width: 1400px) {
    .summary-main {
        height: calc(100vh - $header-height - $nav-height-mobile);
    }
}

@media screen and (max-width: 1000px) {

    // .summary-btn {

    // }

    .summary-main{
        padding: 20px 20px 0 20px;
    }

    .summary-section {
        display: flex;
        flex-direction: column;
    }

    .summary-header {
        @include dFlex(flex-start, flex-start);
        flex-direction: column;
        gap: 6px;
    }

    .v-line {
        display: none;
    }

    .h-line {
        display: block;
    }

    .transform-bottom {
        transform-origin: center bottom;

        // &:hover{
        //     transform: scaleY(1.1);
        // }
    }

    .summary-welcome {
        display: none; // will be absolute and none / flex toggled (animation on start)
    }
}

// @media screen and (max-width: 830px) {
//     .summary-main {
//         padding: 20px 0 0 20px;
//     }

//     .summary-section {
//         display: flex;
//         flex-direction: column;
//     }

// }