<section class="summary-main">
  <div class="summary-header">
    <h1>Join 360</h1>
    <span class="v-line"></span>
    <h4>Key Metrics at a Glance</h4>
    <span class="h-line"></span>
  </div>

  <section class="summary-section">
    <article class="summary-wrapper">
      <section class="summary-row">
        <div class="summary-btn transform-left" (click)="toBoard()">
          <span class="sum-icon">
            <!-- //TODO: Button img hover effect from blue to white -->
            <img class="icon-pencil" src="./assets/icons/kanban/edit_white.svg" alt="icon edit">
            <div class="task-count">
              <h5>{{ tasksByType('toDo') }}</h5>
              <p>To-Do</p>
            </div>
          </span>
        </div>
        <div class="summary-btn transform-right" (click)="toBoard()">
          <span class="sum-icon">
            <!-- //TODO: Button img hover effect from blue to white -->
            <img src="./assets/icons/kanban/check_white.svg" alt="icon check">
            <div class="task-count">
              <h5>{{ tasksByType('done') }}</h5>
              <p>Done</p>
            </div>
          </span>
        </div>
      </section>

      <section class="summary-row">
        <div class="summary-btn transform-bottom" (click)="toBoard()">
          <span class="sum-icon">
            <img src="./assets/icons/kanban/prio_urgent_white.svg" alt="" [style.backgroundColor]="'#FF3D00'">
            <div class="task-count">
              <h5>{{ urgentTasksCount() }}</h5>
              <p>Urgent</p>
            </div>
          </span>
          <p>|</p>
          <span class="sum-icon">
            <div>
              <p>{{ today }}</p>
              <p>Upcoming Deadline</p>
            </div>
          </span>
        </div>
      </section>

      <section class="summary-row">
        @for (category of taskColumns; track category;let i = $index) {
        <div class="summary-btn" [ngClass]="{
            'transform-left': i === 0,
            'transform-center': i === 1,
            'transform-right': i === 2
          }" (click)="toBoard()">
          <div class="task-count">
            <h5>{{ category.taskCount }}</h5>
            <p [innerHTML]="category.text"></p>
          </div>
        </div>
        }
      </section>
    </article>

    <aside class="summary-welcome">
      <h4>
        <p class="timeText">{{ textChangeTime() }},<br>
          <!-- //TODO: Add user name with firebase in the TS -->
          <!-- <span class="name">{{ userName }}</span> -->
          <span class="name">Patrick, Steffi & Jenny :)</span>
        </p>

      </h4>
    </aside>
  </section>

</section>