<section class="summary-main">
  <div class="summary-header">
    <h1>Join 360</h1>
    <span class="v-line"></span>
    <h4>Key Metrics at a Glance</h4>
    <span class="h-line"></span>
  </div>

  <section class="summary-section">
    <article class="summary-wrapper">
      <section class="summary-row">
        <div class="summary-btn" (click)="toBoard()">
          <span class="sum-icon">
              <img src="./assets/icons/kanban/edit_white.svg" alt="">
              <div class="task-count">
                <h5>{{ tasksByType('toDo') }}</h5>
                <p>To-Do</p>
              </div>
          </span>
        </div>
        <div class="summary-btn" (click)="toBoard()">
          <span class="sum-icon">
              <img src="./assets/icons/kanban/check_white.svg" alt="">
              <div class="task-count">
                <h5>{{ tasksByType('done') }}</h5>
                <p>Done</p>
              </div>
          </span>
        </div>
      </section>
  
      <section class="summary-row">
        <div class="summary-btn" (click)="toBoard()">
          <span class="sum-icon">
              <img src="./assets/icons/kanban/prio_urgent_white.svg" alt="" [style.backgroundColor]="'#FF3D00'">
              <div class="task-count">
                <h5>{{ urgentTasksCount() }}</h5>
                <p>Urgent</p>
              </div>
          </span>
          <p>|</p>
          <span class="sum-icon">
            <div>
              <p>{{ today }}</p>
              <p>Upcoming Deadline</p>
            </div>
          </span>
        </div>
      </section>
  
      <section class="summary-row">
        @for (category of taskColumns; track category) {
          <div class="summary-btn" (click)="toBoard()">
            <div class="task-count">
              <h5>{{ category.taskCount }}</h5>
              <p [innerHTML]="category.text"></p>
            </div>
          </div>
        }
      </section>
    </article>
  
    <aside class="summary-welcome">
      <h4>
        Good morning<br>
        <span> "name"</span>
      </h4>
    </aside>
  </section>

</section>
