<div class="navbar-section-desktop">
    <div class="navbar-icon-container">
        <a routerLink="/"><img class="image" src="assets/icons/navbar/logo.svg" alt=""></a>
    </div>
    <div class="navbar-components-container">
        <div class="links-alignement">
            @for (link of links; track link.route) {
                <app-navbar-icon-link
                    [iconUnclicked]="link.iconUnclicked"
                    [iconClicked]="link.iconClicked"
                    [route]="link.route"
                    [alt]="link.alt"
                    [isActive]="activeLink === link.route"
                    (activate)="setActiveLink(link.route)">
                </app-navbar-icon-link>
            }
        </div>
    </div>
    <div class="privacy-and-legal-container">
        <div class="privacy-policy-background-container" [class.active]="activeLink === '/privacy-policy'" (click)="setActiveLink('/privacy-policy')">
            <div class="link-container">
                <a routerLink="/privacy-policy" data-text="Privacy Policy">Privacy Policy</a>
            </div>
        </div>
        <div class="legal-notice-background-container" [class.active]="activeLink === '/legal-notice'" (click)="setActiveLink('/legal-notice')">
            <div class="link-container">
                <a routerLink="/legal-notice" data-text="Legal Notice">Legal Notice</a>
            </div>
        </div>
    </div>
</div>
<div class="navbar-section-mobile">
    <div class="navbar-mobile-components-container">
        <div class="links-mobile-alignement">
            <div class="navbar-links-mobile">
                @for (link of links; track link.route) {
                    <app-navbar-icon-link
                        [iconUnclicked]="link.iconUnclicked"
                        [iconClicked]="link.iconClicked"
                        [route]="link.route"
                        [alt]="link.alt"
                        [isActive]="activeLink === link.route"
                        (activate)="setActiveLink(link.route)"
                        (click)="signalService.isMobile()? signalService.isInfoShown.set(false): null"
                    >
                    </app-navbar-icon-link>
                }
            </div>
            <div class="privacy-and-legal-mobile">
                <div class="privacy-policy-background-container" [class.active]="activeLink === '/privacy-policy'" (click)="setActiveLink('/privacy-policy')">
                    <div class="link-container">
                        <a routerLink="/privacy-policy">Privacy Policy</a>
                    </div>
                </div>
                <div class="legal-notice-background-container" [class.active]="activeLink === '/legal-notice'" (click)="setActiveLink('/legal-notice')">
                    <div class="link-container">
                        <a routerLink="/legal-notice">Legal Notice</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>