@import "../assets/styles/mixins.scss";
@import "../assets/styles/variables.scss";

.page-content {
  display: flex;

  @media (max-width: 1400px) {
    flex-direction: column-reverse;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;

  @media (max-width: $queryBreak1) {
    height: calc(100vh - 80px);
  }
}

app-header {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 96px;
  z-index: 1;
  width: 100%;
}

.orientation-lock {
  @include dFlex(center, center, 20px, absolute);
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: $col-bg-secondary;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: $col-bg-main;
  >img:last-child {
    animation: rotateImage 4s infinite ease-in-out;
  }

}

@keyframes rotateImage {
  0% { transform: rotate(0deg); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { transform: rotate(90deg); opacity: 0; }
}

@media (pointer: coarse) and (orientation: portrait) {  
  .orientation-lock {
    display: flex;
  }
}

@media (pointer: coarse) and (orientation: landscape) {
  .orientation-lock {
    display: none !important;
  }
}
