

  <div class="page-content">
    @if (authService.isLoggedIn() || signalService.hideHrefs()) {
    <app-navbar></app-navbar>
    }
  
    <div class="header-content">
      @if (authService.isLoggedIn() || signalService.hideHrefs()) {
      <app-header></app-header>
      }
      <router-outlet />
    </div>
  
    <app-toast></app-toast>
    
  </div>
  
  <div class="orientation-lock">
    <img src="./assets/icons/header/logo.svg" class="rotate-phone">
    <p>Please rotate your device into portrait mode to use the app</p>
    <img src="./assets/icons/general/mobile.png" class="rotate-phone">

    <button (click)="dailyReset.runReset()">delete reset</button>
  </div>
  