@import "../assets/styles/colors.scss";
@import "../assets/styles/variables.scss";

.page-content {
  display: flex;

  @media (max-width: 1400px) {
    flex-direction: column-reverse;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;

  @media (max-width: $queryBreak1) {
    height: calc(100vh - 80px);
  }
}

app-header {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 96px;
  z-index: 1;
  width: 100%;
}
