<section class="task-section">
  <div
    class="task-section-content"
    [ngClass]="{
      'edit-dialog-class': isEditTaskDialog,
      'add-dialog-class': isAddTaskDialog
    }"
  >
    @if (!taskDataService.editModeActive) {
    <h2>Add Task</h2>
    } @else {
    <div class="task-edit-close" (click)="closeIfDialog()">&#10005;</div>
    }

    <form class="task-form" (ngSubmit)="onSubmit()">
      <div class="task-scroll-container">
        <div class="task-form-wrapper">
          <app-task-overview [taskData]="taskData"> </app-task-overview>

          <div class="vertical-divider"></div>

          <app-task-details
            class="task-details"
            [taskDataInput]="taskData"
            [closeDropdownList]="closeDropdownList"
          >
          </app-task-details>
        </div>
      </div>

      <div
        class="footnote"
        [style.padding]="taskDataService.editModeActive ? '15px 0 0 0' : ''"
      >
        <p><span>*</span> This field is required</p>

        <div class="button-wrapper">
          @if (!taskDataService.editModeActive) {
          <button
            class="button-cancel"
            type="button"
            (click)="closeIfDialog()"
            active=""
          >
            Cancel
            <span class="icon"></span>
          </button>
          }
          <button
            class="button-save"
            type="submit"
            [class]="formInvalid ? 'disabled' : ''"
          >
            @if (taskDataService.editModeActive) { OK } @else { Create Task
            @if(!formInvalid) {
            <img src="../../../assets/icons/kanban/check_white.svg" />
            } }
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
