<section class="task-section">
  <div class="task-section-content">
    @if (!taskDataService.editModeActive) {
    <h2>Add Task</h2>
    }

    <form class="task-form" (ngSubmit)="onSubmit()">
      <div class="task-form-wrapper">
        <app-task-overview [(taskDueDate)]="inputTaskDueDate" [today]="today" [(taskTitle)]="inputTaskTitle"
          [(taskDescription)]="inputTaskDescription" [taskData]="taskData">
        </app-task-overview>

        <div class="vertical-divider"></div>

        <app-task-details class="task-details" [taskDataInput]="taskData">
        </app-task-details>
      </div>

      <div class="footnote">
        <p><span>*</span> This field is required</p>

        <div class="button-wrapper">
          @if (!taskDataService.editModeActive) {
          <button class="button-cancel" type="button" (click)="cancelEditTask.emit()">
            <!-- Modified: now emits @Output to parent (task-dialog.component) -->
            Cancel
            <span class="icon"></span>
          </button>
          }
          <button class="button-save" type="submit">
            @if (taskDataService.editModeActive) { OK
            <!-- toggled if edit mode active -->
            } @else { Create Task }
            <img src="../../../assets/icons/kanban/check_white.svg" />
          </button>
        </div>
      </div>
    </form>
  </div>
</section>