@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";

section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
  max-width: $queryBreak1;
  padding: 110px 100px;

  h2 {
    padding-bottom: 50px;
  }

  p {
    font-size: 20px;
  }

  span {
    color: $col-task-urgent;
  }

  button {
    border: 1px solid $col-font-grey;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: white;
    font-size: 20px;

    img {
      width: 20px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.task-form-wrapper {
  @include dFlex($jc: space-between, $ai: flex-start, $gap: 50px);
  flex-grow: 1;

  input[type="text"],
  input[type="date"],
  textarea,
  select {
    width: 440px;
    border: 1px solid $col-font-grey;
    border-radius: 10px;
    padding: 12px 20px;
    color: $col-font-grey;
    resize: none;

    &:focus {
        outline: none;
        border-color: $col-font-inactive;
    }
  }

  textarea {
    height: 120px;
  }
}

.task-overview,
.task-details {
  @include dFlex($jc: center, $ai: flex-start, $gap: 16px);
  flex-direction: column;

  .form-group {
    @include dFlex($jc: center, $ai: flex-start, $gap: 8px);
    flex-direction: column;
  }
}

.vertical-divider {
    width: 1px;
    height: 360px;
    background-color: $col-font-dropdown;
}

.task-details {

  .priority-buttons {
    @include dFlex($jc: center, $ai: flex-start, $gap: 16px);
  }
}

.subtask-input .subtask-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.subtask-input .form-control {
  width: 100%;
  padding-right: 70px; /* Platz für die Buttons, ggf. anpassen */
}

.subtask-input .input-icons {
  position: absolute;
  right: 8px;
  display: flex;
  gap: 4px;
}

.subtask-input .icon-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #888;
  font-size: 1.2em;
  padding: 2px 6px;
  line-height: 1;
  transition: color 0.2s;
}

.footnote {
  display: flex;
  justify-content: space-between;
}
