<section class="task-section">
  <div class="task-section-content">
    <h2>Add Task</h2>
    <form class="task-form" (ngSubmit)="onSubmit()">
      <div class="task-form-wrapper">
        <!-- <div class="task-overview">
          <div class="form-group">
            <label for="title">Title <span>*</span></label>
            <input
              [(ngModel)]="inputTaskTitle"
              id="title"
              name="title"
              type="text"
              class="form-control"
              placeholder="Enter a title"
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              [(ngModel)]="inputTaskDescription"
              id="description"
              name="description"
              class="form-control"
              placeholder="Enter a description"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="due-date">Due date <span>*</span></label>
            <input
              [(ngModel)]="inputTaskDueDate"
              id="due-date"
              name="dueDate"
              type="date"
              class="form-control"
              [min]="today"
            />
          </div>
        </div> -->
        <app-task-overview
          [(taskDueDate)]="inputTaskDueDate"
          [today]="today"
          [(taskTitle)]="inputTaskTitle"
          [(taskDescription)]="inputTaskDescription"
        >
        </app-task-overview>

        <div class="vertical-divider"></div>

        <app-task-details class="task-details"
          (inputChange)="onInputChange()"
        ></app-task-details>
        
        <!-- will be moved to task-details component -->
        <!-- <div class="task-details">
          <div class="form-group">
            <label>Priority</label>
            <div class="priority-buttons-wrapper">
              @for(prioBtn of priorityButtons; track prioBtn; let index = $index) {
                <button 
                  class = "priority-button"
                  [class]="prioBtn.btnActive ? 'btnActive' : 'btnInActive'"
                  [style.backgroundColor]="prioBtn.btnActive ? prioBtn.colorActive : 'white'"
                  (click)="setPriority(index, prioBtn.priority); $event.preventDefault()"
                >
                  {{prioBtn.priority}}
                  <img [src]="prioBtn.btnActive ? prioBtn.imgActive : prioBtn.imgInactive" [alt]="prioBtn.priority"/>
                </button>
              }
            </div>
          </div>

          <div>
            <cdk-accordion
              class="dropdown-list-container form-group"
              id="assigned-to"
              (click)="$event.stopPropagation()"
            >
              <label for="assigned-to">Assigned to</label>
              <cdk-accordion-item #accordionItem="cdkAccordionItem">
                <span
                  class="toggle-dropdown-list"
                  (click)="accordionItem.toggle(); categoryAccordionItem.close()"
                >
                  <input
                    type="search"
                    class="form-control"
                    [class]="accordionItem.expanded ? 'drop-down-active' : ''"
                    [placeholder]="accordionItem.expanded ? 'Search...':'Select Contacts to assign'"
                    (input)="searchContact($event); accordionItem.open()"
                  />
                  <img
                    src="./assets/icons/kanban/drop_down_open.svg"
                    alt=""
                    [style.transform]="
                      accordionItem.expanded ? 'rotate(180deg)' : 'rotate(0deg)'
                    "
                  />
                </span>
                @if(accordionItem.expanded) {
                <ul
                  class="dropdown-list"
                  role="region"
                  [style.display]="accordionItem.expanded ? '' : 'none'"
                >
                  @for (contact of filteredContacts(); track contact; let
                  index = $index) {
                  <li class="contact-wrapper" (click)="toggleAssignedContacts(contact.id)"
                    [style.backgroundColor]="isContactAssigned(contact.id) ? '#091931' : ''"
                  >
                    <div class="single-contact">
                      <div
                        class="contact-initials"
                        [style.backgroundColor]="contactsService.contactColor(contact.id)"
                        [style.border]="isContactAssigned(contact.id) ? '2px solid white' : ''"
                      >
                        {{ contactsService.nameInitials(contact.id) }}
                      </div>
                      <p [style.color]="isContactAssigned(contact.id) ? 'white' : ''">
                        {{ contact.name }}
                      </p>
                    </div>
                    <img [src]="isContactAssigned(contact.id) ? './assets/icons/kanban/checkbox_checked.svg': './assets/icons/kanban/checkbox_unchecked.svg' ">
                  </li>
                  }
                </ul>
                }
              </cdk-accordion-item>
            </cdk-accordion>
            <div class="assigned-contacts">
              @for (contact of assignedTo; track contact.contactId) {
                <div
                  class="contact-initials"
                  [style.backgroundColor]="contactsService.contactColor(contact.contactId)"
                  (mouseenter)="startContactHover(contact.contactId)"
                  (mousemove)="moveContactHover($event)"
                  (mouseleave)="endContactHover()"
                  (click)="removeAssignedContact(hoveredContact)"
                >
                  {{ contactsService.nameInitials(contact.contactId) }}
                </div>
              }
            
              @if (hoveredContact) {
                <div
                  class="contact-name-info"
                  [style.backgroundColor]="contactsService.contactColor(hoveredContact)"
                  [style.left.px]="mouseX"
                  [style.top.px]="mouseY"
                >
                  {{ contactsService.contactName(hoveredContact) }}
                </div>
              }
            </div>
          </div>

          <div class="form-group">
            <cdk-accordion
              class="dropdown-list-container form-group"
              id="category"
              (click)="$event.stopPropagation()"
            >
              <label for="category">Category <span>*</span></label>
              <cdk-accordion-item class="form-control" #categoryAccordionItem="cdkAccordionItem">
                <span
                  class="toggle-dropdown-list"
                  (click)="categoryAccordionItem.toggle(); accordionItem.close()"
                >
                  <input
                    type="search"
                    class="form-control"
                    [class]="categoryAccordionItem.expanded ? 'drop-down-active' : ''"
                    [placeholder]="categoryAccordionItem.expanded ?
                      (selectedCategory ? selectedCategory:'Search...') :
                      (selectedCategory ? selectedCategory:'Select task category')"
                    (input)="searchCategory($event); categoryAccordionItem.open()"
                  />
                  <img
                    src="./assets/icons/kanban/drop_down_open.svg"
                    alt=""
                    [style.transform]="
                      categoryAccordionItem.expanded ? 'rotate(180deg)' : 'rotate(0deg)'
                    "
                  />
                </span>
                @if(categoryAccordionItem.expanded) {
                <ul
                  class="dropdown-list"
                  role="region"
                  [style.display]="categoryAccordionItem.expanded ? '' : 'none'"
                >
                  @for (category of filteredCategories(); track category; let index = $index) {
                    <li
                      class="category-wrapper"
                      (click)="setCategory(index)"
                      [style.backgroundColor]="selectedCategory === filteredCategories()[index] ? '#091931':''"
                      [style.color]="selectedCategory === filteredCategories()[index] ? 'white':''"
                    >
                      <p>{{ category }}</p>
                    </li>
                  }
                  </ul>
                }
              </cdk-accordion-item>
            </cdk-accordion>
          </div>

          <div class="form-group subtask-input">
            <label for="subtask">Subtasks</label>
            <div class="subtask-input-wrapper">

              <input
                id="subtask"
                name="subtask"
                type="text"
                class="form-control"
                placeholder="Add new subtask"
                [(ngModel)]="subtaskText"
                (input)="onInputChange()"
                (keyup.enter)="addSubtask()"
                #subtaskInput
              />

              <div class="subtask-icons">
                <img
                  [src]="subtaskText ? './assets/icons/kanban/close.svg':'./assets/icons/kanban/add.svg'"
                  (click)="subtaskText ? clearSubtask(): focusInput(subtaskInput)"
                  alt=""
                >
                @if (subtaskText) {
                  <div class="v-line">|</div>
                  <img [src]="'./assets/icons/kanban/check.svg'" (click)="addSubtask()" alt="checkBtn">
                }
              </div>

              <ul class="subtask-container">
                @for (subtask of subtasksContainer; track subtask) {
                  <li class="subtask-item"
                    (mouseenter)="subtask.isHovered=true"
                    (mouseleave)="subtask.isHovered=false"
                    [style.backgroundColor]="subtask.isHovered ? '#e8e8e8':''">

                    @if (!subtask.isEditing) {
                      <p>• {{ subtask.text }}</p>
                    } @else {
                      <input 
                      [(ngModel)]="inputFieldSubT"
                      name="subtaskText"
                      [value]="subtask.text"
                      (keydown.enter)="subtask.isEditing = false"
                      class="subtask-edit-input"
                      #inputFieldSubTask
                      />
                    }

                    <div class="subtask-item-icons" [style.display]="subtask.isHovered ? 'flex':'none'">
                      @if (!subtask.isEditing) {
                        <img [src]="'./assets/icons/kanban/edit.svg'" (click)="editSubtask(subtask)" alt="Edit">
                        <div class="v-line">|</div>
                        <img [src]="'./assets/icons/kanban/delete.svg'" (click)="deleteSubtask(subtask)" alt="Edit">
                      } @else {
                        <img [src]="'./assets/icons/kanban/check.svg'" (click)="editCheckSubtask(subtask)" alt="Edit">
                        <div class="v-line">|</div>
                        <img [src]="'./assets/icons/kanban/delete.svg'" (click)="deleteSubtask(subtask)" alt="Edit">
                      }
                    </div>

                  </li>
                }
              </ul>
            </div>
          </div>
        </div> -->
      </div> 
      <!-- will be moved to task-details component -->

      <div class="footnote">
        <p><span>*</span> This field is required</p>

        <div class="button-wrapper">
          <button class="button-cancel" type="button" (click)="clearForm()">
            Cancel
            <svg
              class="icon-cancel"
              width="14"
              height="14"
              viewBox="0 0 14 14"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.14434 8.40005L2.24434 13.3C2.061 13.4834 1.82767 13.575 1.54434 13.575C1.261 13.575 1.02767 13.4834 0.844336 13.3C0.661003 13.1167 0.569336 12.8834 0.569336 12.6C0.569336 12.3167 0.661003 12.0834 0.844336 11.9L5.74434 7.00005L0.844336 2.10005C0.661003 1.91672 0.569336 1.68338 0.569336 1.40005C0.569336 1.11672 0.661003 0.883382 0.844336 0.700049C1.02767 0.516715 1.261 0.425049 1.54434 0.425049C1.82767 0.425049 2.061 0.516715 2.24434 0.700049L7.14434 5.60005L12.0443 0.700049C12.2277 0.516715 12.461 0.425049 12.7443 0.425049C13.0277 0.425049 13.261 0.516715 13.4443 0.700049C13.6277 0.883382 13.7193 1.11672 13.7193 1.40005C13.7193 1.68338 13.6277 1.91672 13.4443 2.10005L8.54434 7.00005L13.4443 11.9C13.6277 12.0834 13.7193 12.3167 13.7193 12.6C13.7193 12.8834 13.6277 13.1167 13.4443 13.3C13.261 13.4834 13.0277 13.575 12.7443 13.575C12.461 13.575 12.2277 13.4834 12.0443 13.3L7.14434 8.40005Z"
                fill="#2A3647"
              />
            </svg>
          </button>
          <button class="button-save" type="submit">
            <!-- [disabled]="!isEdited || !isFormValid" -->
            Create Task @if (isEdited && isFormValid) {
            <svg
              class="icon-done"
              width="38"
              height="30"
              viewBox="0 0 38 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.02832 15.0001L15.2571 26.0662L33.9717 3.93408"
                stroke="currentColor"
                stroke-width="7"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            }
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
