@import "../../../assets/styles/mixins.scss";

.gallery {
  @include dFlex($jc: flex-start, $gap: 8px);
  flex-wrap: wrap;
  max-width: 440px;
}

.image-preview-item {
  position: relative;

  .gallery-image {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
      filter: brightness(1.1);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .delete-button {
    @include dFlex($position: absolute);
    top: 4px;
    right: 4px;
    background-color: $col-bg-main;
    border-radius: 4px;
    width: 26px;
    height: 24px;

    &:hover,
    &:focus {
      background-color: $col-font-inactive;
      color: $col-font-secondary;
    }
  }
}

.undo-button {
  @include dFlex();
  height: 100px;
  width: 100px;
  border: 2px dashed $col-font-grey;
  border-radius: 8px;
  background-color: transparent;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    background-color: $col-font-grey;

    .material-icons {
      scale: 1.1;
    }
  }

  .material-icons {
    font-size: 30px;
    width: 1em;
  }
}
