<div class="gallery" id="gallery">
  @if (signalService.taskImages().length > 0) { @for (img of
  signalService.taskImages(); let i = $index; track img) {
  <div class="image-preview-item">
    <img
      class="gallery-image"
      [src]="img.base64"
      [alt]="img.filename"
      (click)="signalService.openViewerAt(i)"
    />
    @if (isEditMode) {
    <button
      class="delete-button"
      type="button"
      (click)="removeImage(i)"
      aria-label="Delete picture"
    >
      <i class="material-icons">delete_outline</i>
    </button>
    }
  </div>
  } } @if (signalService.canUndo()) {
  <button class="undo-button" (click)="signalService.undoRemoveImage()">
    Restore
  </button>
  }
</div>
