<p>sign-up works!</p>
<div class="sign-up-section">
    <div class="sign-up-header">
        <div class="sign-up-header-left">
            <div class="sign-up-arrow">
            </div>
        </div>
        <div class="sign-up-header-middle">
            <div class="sign-up-header-txt">
                <h2>Sign up</h2>
            </div>
            <div class="sign-up-header-underline">
            </div>
        </div>
        <div class="sign-up-header-right">
        </div>
    </div>
    <div class="sign-up-content">
        <div class="sign-up-form-and-accept-container">
            <div class="sign-up-form-container">

            </div>
            <div class="sign-up-accept-container">

            </div>
        </div>
    </div>
    <div class="sign-up-footer">
        <button class="sign-up-button">
            Sign up
        </button>
    </div>
</div>