@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/fonts/fonts.scss";

:host {
  margin: 0;
  width: 100%;
  height: auto;
  overflow-y: auto;
  @include dFlex($jc: center, $ai: flex-start);
  padding: 3rem;
  font-family: 'Inter', sans-serif;
}

  .section-legal-noticen {
    max-width: calc( $appMaxWidth - $navbar-width );
    height: calc( 100% - ( 96px ) );
    @include dFlex($jc: center, $ai: flex-start);
    flex-direction: column;
    padding: 3rem;
  }

  .header {
    @include dFlex($jc: flex-start, $ai: center, $gap: 0px, $position: relative);
    width: 100%;
    height: auto;
  }

  p {
    a {
      color: $col-font-main;
    }
  }

  h2 {
    width: 100%;
    height: auto;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  h4 {
    width: 100%;
    height: auto;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .imprint {
    padding-bottom: 1rem;
  }

  span {
    color: $col-ref-highlight;
    font-size: 1rem;
  }

  .paragraph {
    @include dFlex(center, flex-start);
    flex-direction: column;
    @include appMaxWidth($padding: 1rem);
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    padding-left: 0rem;
    cursor: auto;
  }

  .adress {
    @include dFlex(flex-start, center);
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-left: 0px;
  }

  @media (max-width: 1400px) {
    .section-legal-noticen {
      height: calc( 100% - ( 96px + 76px ) );
    }
  }