<section class="section-legal-notice">
  <h2>Legal Notice</h2>

  <div class="paragraph">
    <h3 class="imprint">Imprint</h3>

    <div class="name-and-adresses">
      <div class="name-developers">
        <strong>Developers (GitHub Commits):</strong><br />

        <a href="https://github.com/PaFunzFr/DA_Join/commits?author=PaFunzFr"
          >Patrick Frey</a
        ><br />
        <a href="https://github.com/PaFunzFr/DA_Join/commits?author=JozArtworks"
          >Jonathan Michutta</a
        ><br />
        <a
          href="https://github.com/PaFunzFr/DA_Join/commits?author=TerrorDackel"
          >Jennifer Thomas</a
        ><br />
        <a href="https://github.com/PaFunzFr/DA_Join/commits?author=StephEngl"
          >Stephanie Englberger</a
        >
      </div>
    </div>
  </div>

  <div class="paragraph">
    <h4>1. Responsible for Content (according to § 5 TMG):</h4>
    <p>
      Stephanie Englberger<br />
      Strümpfelbacher Str. 4<br />
      71384 Weinstadt<br />
      Email:
      <span
        ><a href="mailto:stephanie.englberger@icloud.com"
          >stephanie.englberger&#64;icloud.com</a
        ></span
      >
    </p>
  </div>

  <div class="paragraph">
    <h4>2. Acceptance of terms</h4>

    <p>
      By accessing and using <span>Join</span> (Product), you acknowledge and
      agree to the following terms and conditions, and any policies, guidelines,
      or amendments thereto that may be presented to you from time to time. We,
      the listed students, may update or change the terms and conditions from
      time to time without notice.
    </p>
  </div>

  <div class="paragraph">
    <h4>3. Scope and ownership of the product</h4>

    <p>
      <span>Join</span> has been developed as part of a student group project in
      a web development bootcamp at the
      <span
        ><a href="https://developerakademie.com/"
          >Developer Akademie GmbH</a
        ></span
      >. It has an educational purpose and is not intended for extensive
      personal & business usage. As such, we cannot guarantee consistent
      availability, reliability, accuracy, or any other aspect of quality
      regarding this Product.<br />
      <br />
      The design of Join is owned by the Developer Akademie GmbH. Unauthorized
      use, reproduction, modification, distribution, or replication of the
      design is strictly prohibited.
    </p>
  </div>

  <div class="paragraph">
    <h4>4. Proprietary rights</h4>

    <p>
      Aside from the design owned by
      <span
        ><a href="https://developerakademie.com/"
          >Developer Akademie GmbH</a
        ></span
      >, we, the listed students, retain all proprietary rights in
      <span>Join</span>, including any associated copyrighted material,
      trademarks, and other proprietary information.
    </p>
  </div>

  <div class="paragraph">
    <h4>5. Use of the product</h4>

    <p>
      <span>Join</span> is intended to be used for lawful purposes only, in
      accordance with all applicable laws and regulations. Any use of
      <span>Join</span> for illegal activities, or to harass, harm, threaten, or
      intimidate another person, is strictly prohibited. You are solely
      responsible for your interactions with other users of <span>Join</span>.
    </p>
  </div>

  <div class="paragraph">
    <h4>6. Disclaimer of warranties and limitation of liability</h4>

    <p>
      <span>Join</span> is provided "as is" without warranty of any kind,
      whether express or implied, including but not limited to the implied
      warranties of merchantability, fitness for a particular purpose, and
      non-infringement. In no event will we, the listed students, or the
      <span
        ><a href="https://developerakademie.com/"
          >Developer Akademie GmbH</a
        ></span
      >, be liable for any direct, indirect, incidental, special, consequential
      or exemplary damages, including but not limited to, damages for loss of
      profits, goodwill, use, data, or other intangible losses, even if we have
      been advised of the possibility of such damages, arising out of or in
      connection with the use or performance of <span>Join</span>.
    </p>
  </div>
</section>
