@import "./assets/styles/colors.scss";
@import "./assets/fonts/fonts.scss";

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: $col-bg-main;
}

* {
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

button {
    border: none;
}