/* main colors app */
$col-bg-main: #F6F7F8;
$col-bg-secondary: #2A3647;
$col-ref-highlight: #29ABE2;
$col-ref-hover: #2A3D59;
$col-ref-active-nav: #091931;
$col-dialog-right: #1e1e1e;
$col-bg-hovered-subtask: #e8e8e8;
$col-bg-subtaskbar: #4589FF;

/* colors task status */
$col-task-urgent: #FF3D00;
$col-task-medium: #FFA800;
$col-task-low: #7AE229;

/* font colors */
$col-font-main: #0b0e13;
$col-font-secondary: #FFFFFF;
$col-font-inactive: #A8A8A8;
$col-font-dropdown: #CDCDCD;
$col-font-grey: #d1d1d1;

/* user colors */
$col-user-01: #FF7A00;
$col-user-02: #FF5EB3;
$col-user-03: #6E52FF;
$col-user-04: #9327FF;
$col-user-05: #00BEE8;
$col-user-06: #1FD7C1;
$col-user-07: #FF745E;
$col-user-08: #FFA35E;
$col-user-09: #FC71FF;
$col-user-10: #e4b300;
$col-user-11: #0038FF;
$col-user-12: #6ed81c;
$col-user-13: #b7a202;
$col-user-14: #FF4646;
$col-user-15: #FFBB2B;

$col-error-red: #FF0000;
$col-shadow-black: rgba(0, 0, 0, 0.1);
$col-shadow-background: rgba(0, 0, 0, 0.4);
$col-font-shadow-black: rgba(0, 0, 0, 0.5);