@import './colors.scss';

@mixin dFlex($jc, $ai, $gap: 0px, $position: relative) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
    position: $position;
}

@mixin appMaxWidth($padding: 30px) {
    max-width: 1440px; /* tbd */
    padding: $padding;
}

/* to be discussed */