@import './colors.scss';

@mixin dFlex($jc, $ai, $gap: 0px, $position: relative) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
    position: $position;
}

@mixin appMaxWidth($padding: 30px) {
    max-width: 1440px; /* tbd */
    padding: $padding;
}

@mixin contactIcon($size: 50px, $fontSize: 24px, $letterSpacing: 0) {
    @include dFlex(center, center);
    width: $size;
    min-width: $size;
    font-size: $fontSize;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: white;
    letter-spacing: $letterSpacing;
}

