/* widths and heights */
$navbar-width: 230px;
$header-height: 96px;
$nav-height-mobile: 80px;
$contact-list-width: 400px;

/* padding and margin */
$main-margin: 10px;
$main-padding: 10px;

/* max sizes */
$appMaxWidth: 1920px;
$queryBreak1: 1400px;
$queryBreak2: 1000px;

/* assets */
$commonButton1: 10px;
/*example*/

$h2-font-sizes-media: (
    "iphone-se": 31px,
);

$span-font-sizes-media: (
    "iphone-se": 13px,
);