<div class="task-dialog-section" (click)="closeDialog()">
  @if (showTaskInfo) {
  <app-task-info
    [taskDataDialogInfo]="taskDataDialog"
    (editTask)="onEditTask()"
    (close)="closeDialog()"
    (click)="$event.stopPropagation()"
  >
  </app-task-info>

  } @else {
  <app-add-task
    [taskData]="taskDataDialog"
    (cancelEditTask)="taskEdited()"
    (taskUpdated)="taskEdited()"
    (click)="$event.stopPropagation()"
    [isEditTaskDialog]="isEditTaskDialog"
  >
  </app-add-task>
  }
</div>
