<div class="task-dialog-section">
    @if (showTaskInfo) {
        <app-task-info
        [taskDataDialogInfo]="taskDataDialog"
        (editTask)="onEditTask()"
        (close)="closeDialog()"> <!-- ❗️Hinzugefügt -->
    </app-task-info>
    
    } 
    <!-- @else if (showAddTaskDialog) {
        <app-add-task></app-add-task>
    } -->
    
    @else {
        <app-add-task
            [taskData]="taskDataDialog"
            (cancelEditTask)="onCancelEditTask()">
        </app-add-task>
    }
</div>
