@import "../../../../assets/styles/mixins.scss";

:host {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 525px;
  height: 90%;
  overflow-y: auto;

  .task-dialog-section {
    width: 100%;
  }

  @media (max-width: 700px) {
    width: 100%;
  }
}

app-add-task {
  width: 100%;
}
